
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

  .tarjeta{
    font-size: 25px;
    height: 100vh;
    color: aliceblue;
    background: rgb(206, 3, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
  }

  .tarjeta h1{
    margin-bottom: 5px;
    font-size: 60px;
    font-family: 'Zeyada', cursive;
  }