<div class="card container col-md-10 col-sm-2 " >
    <div class="card-body text-center container">
        <h1 class="card-title pb-5 fw-bold">Tienda</h1>
        <form id="formulario" class="border border-primary text-center container" style="max-width: 540px;">
        <input id="buscar" type="text" placeholder="Buscar producto..." class="text-center mt-2 input col-ms-2 col-md-5  border rounded"></input>

        <select id="select" class="form-select mb-5 mt-5 border-0  container" style="width: 12rem;" aria-label="Default select example">
            <option selected>Ordenar por...</option>
            <option value="nombre">Nombre</option>
            <option value="precio">Precio</option>
            <option value="id">id</option>
        </select>
        <button class="btn btn-primary mb-2">Buscar</button>
        </form>
        <div  id="art"  class="container card mb-3 p-3 border border-primary mt-2" style="max-width: 540px; border-radius: 0%;">
            {{#each datos}}
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src={{urlImagen}} class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 text-center">
                        <div class="card-body ">
                            <h5 class="card-title pb-5 fw-bold">{{nombre}}</h5>
                            <h5 class="card-title fw-bold">$ {{precio}}</h5>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>