/* SearchBox */

.search-box-wrapper {
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: block;
    border-radius: 30px;
    border: 1px solid black;
    color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    box-sizing: border-box;
    font-size: 1rem;
    width: 90%;
}
