.App {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.btn_redondo,
.App input{
  border: solid 1px;
  border-radius: 20px;
  text-align: center;
}

.App input{
  height: 25px;
}

.App input::placeholder{
  color: rgb(205, 205, 205);
}

.divisor{
  border-bottom: solid 0.5px black;
  width: 100%;
  height: 1px;
  margin: 10px;
  margin-bottom: 30px;
}

.tarjeta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background: pink;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 250px;
}


.tarjeta p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(25, 5%, 46%, 0.5);
  width: 75%;
  height: 75%;
}




