<div class="card container col-md-10 col-sm-2 " >
    <div class="card-body text-center container">
        <h1 class="card-title pb-5 fw-bold">Tienda</h1>
        <div  id="art"  class="container card mb-3 p-3 border border-primary mt-2" style="max-width: 540px; border-radius: 0%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src={{urlImagen}} class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 text-center">
                        <div class="card-body ">
                            <h5 class="card-title pb-5 fw-bold">{{nombre}}</h5>
                            <h5 class="card-title fw-bold">$ {{precio}}</h5>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>